.grid-container {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-columns: 0.8fr 1.2fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  grid-template-areas: "Sidebar Chat-description Chat-description Chat-description" "Sidebar Chat-window Chat-window Chat-window" "Sidebar Chat-window Chat-window Chat-window";
  background-color: #f2f2f2;
}

.Sidebar {
  grid-area: Sidebar;
  background-color: white;
  border: rgb(224, 224, 224) 1px solid;
  display: flex;
  flex-direction: column;

  .chat-preview {
	max-height: 117px;
	width: 100%;
	border: rgb(224, 224, 224) 1px solid;

	&:hover {
	  cursor: pointer;
	}

	&:active {
	  background-color: #f2f2f2;
	}

	.other-user {
	  font-size: 22px;
	  margin: 10px;
	}

	.last-message {
	  font-size: 16px;
	  color: #333;
	  margin: 10px 10px 0;
	}

	.time {
	  font-size: 12px;
	  color: #333;
	  margin: 0px 10px 10px;
	}
  }
}

.Search-bar {
  background-color: #f2f2f2;
  border: rgb(224, 224, 224) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
  }
}

.Chat-description {
  grid-area: Chat-description;
  z-index: 20;
  background: #f2f2f2;
  border: rgb(224, 224, 224) 1px solid;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  justify-content: space-between;

  .logout-button {
	height: 45px;
  }
}

.Chat-window {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  grid-template-areas: ". . ." "Text-input Text-input Text-input";
  grid-area: Chat-window;
  background-color: white;
  border: rgb(224, 224, 224) 1px solid;
  flex-direction: column-reverse;

  .messages-container {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;

	.message {
	  width: 300px;
	  margin: 5px 25px;
	  padding: 20px;
	  text-align: center;
	  font-weight: 900;
	  color: #fff;
	  font-family: arial, sans-serif;
	  position: relative;
	  display: flex;
	  flex-direction: column;

	  p {
		font-size: 24px;
		&.time {
		  font-size: 12px;
		}
	  }

	  &.yours {
		background-color: #3f51b5;
		align-self: flex-end;

		p {
		  align-self: flex-end;
		  &.time {
			align-self: flex-end;
		  }
		}

		&:before {
		  content: "";
		  width: 0px;
		  height: 0px;
		  position: absolute;
		  border-left: 10px solid #3f51b5;
		  border-right: 10px solid transparent;
		  border-top: 10px solid #3f51b5;
		  border-bottom: 10px solid transparent;
		  right: -20px;
		  top: 6px;
		}

		&.bot {
		  background-color: forestgreen;
		  &:before {
			border-left: 10px solid darkgreen;
			border-top: 10px solid darkgreen;
		  }
		}
	  }

	  &.theirs {
		background-color: #ff4081;
		align-self: flex-start;


		p {
		  align-self: flex-start;
		  &.time {
			align-self: flex-start;
		  }
		}

		&:before {
		  content: "";
		  width: 0px;
		  height: 0px;
		  position: absolute;
		  border-left: 10px solid transparent;
		  border-right: 10px solid #ff4081;
		  border-top: 10px solid #ff4081;
		  border-bottom: 10px solid transparent;
		  left: -19px;
		  top: 6px;
		}
	  }
	}
  }
}

.Text-input {
  grid-area: Text-input;
  background-color: #f2f2f2;
  border: rgb(224, 224, 224) 1px solid;
  padding: 5px 15px;
  height: fit-content;
  display: flex;
  align-items: center;

  .message-box {
	width: 100%;
  }
}
