<!--The content below is only a placeholder and can be replaced.-->

<div class="grid-container">
  <div class="Sidebar">
    <div class="Search-bar">
      <div class="search-input">
        <mat-form-field appearance="standard">
          <mat-label>Search for a user</mat-label>
          <input (input)="onSearchInputChanged($event.target.value)" [(ngModel)]="userSearch" [matAutocomplete]="auto"
                 matInput placeholder="John Doe">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="selectedChat(option)" *ngFor="let option of options"
                        [value]="option.username">
              {{ option.username }}
            </mat-option>
          </mat-autocomplete>

          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div (click)="selectedChat(chat.with)" *ngFor="let chat of sidebarChats" class="chat-preview">
      <p class="other-user">{{chat.with.username}}</p>
      <p class="last-message">{{chat.last_message}}</p>
      <p class="time">{{chat.time}}</p>
    </div>
  </div>
  <div class="Chat-description">
    <h2> {{openChat.id ? openChat.username : "Select a chat"}}</h2>
    <button (click)="logout()" class="logout-button" color="primary" mat-raised-button>Logout
      <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>
    </button>
  </div>
  <div class="Chat-window">
    <div *ngIf="openChat.id" class="Text-input">
      <mat-form-field appearance="standard" class="message-box">
        <mat-label>Write a message</mat-label>
        <textarea (keydown.meta.Enter)="sendMessage()"
                  [(ngModel)]="inputMessage" matInput
                  placeholder="Hi there!">
        </textarea>
      </mat-form-field>
      <button (click)="sendMessage()" color="primary" mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div #scroller class="messages-container" style="text-align:center">
      <div *ngFor="let message of openChat.messages"
           class="message {{message.from !== openChat.id ? 'yours' : 'theirs'}} {{message.isFromBot ? 'bot' : ''}}">
        <b *ngIf="message.isFromBot">Jobsity Bot says</b>
        <b *ngIf="message.from == openChat.id">{{openChat.username}} says</b>
        <b *ngIf="!message.isFromBot && message.from !== openChat.id">You said</b>
        <p>{{message.text}}</p>
        <p class="time">{{message.at}}</p>
      </div>
    </div>
  </div>
</div>
