.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .login, .signup {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: #333 1px solid;
  }
}
