<div class="container">
  <div class="login">
    <h1>Login form</h1>
  <mat-form-field>
    <input [(ngModel)]="email" matInput placeholder="E-mail" (keydown.meta.Enter)="login()">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="password" (keydown.meta.Enter)="login()">
  </mat-form-field>

  <button (click)="login()" class="logout-button" color="primary" (keydown.meta.Enter)="login()" mat-raised-button>
    Log in
    <mat-icon aria-hidden="false" aria-label="login">login</mat-icon>
  </button>
  </div>

  <div class="signup">
    <h1>Signup form</h1>
  <mat-form-field>
    <input [(ngModel)]="email2" matInput placeholder="E-mail" (keydown.meta.Enter)="signup()">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="username" matInput placeholder="Username" (keydown.meta.Enter)="signup()">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="password2" (keydown.meta.Enter)="signup()">
  </mat-form-field>

  <button (click)="signup()" class="logout-button" color="accent" (keydown.meta.Enter)="signup()" mat-raised-button>
    Sign up
    <mat-icon aria-hidden="false" aria-label="login">signup</mat-icon>
  </button>

  </div>
</div>
